<div class="w-screen min-h-screen flex flex-col">
  <div name="navbar" class="w-full flex my-5 flex-row justify-evenly">
    <%= link_to "INDEX", root_path, class: "" %>
    <%= link_to "BLOG", root_path, class: "" %>
    <%= link_to "ABOUT", root_path, class: "" %>
  </div>
  <div name="content" class="container flex flex-col h-full justify-center mx-auto px-4 mb-5 border-2 border-black">
    <h1 class="text-2xl text-center text-orange-300 hover:text-black">Zanahoria!</h1>
  </div>
</div>
